<html>
<head>
  <%# Workaround for https://github.com/hotwired/turbo-rails/issues/669 %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# include all turbo-track elements so turbo knows it can cache frame visits %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= yield :head %>
</head>
<body>
<%= render Kpop::FrameComponent.new do %>
  <%= render(Kpop::ModalComponent.new(title: content_for(:title), modal_class: content_for(:modal_class))) do %>
    <%= yield %>
  <% end %>
<% end %>
</body>
</html>
