<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield :head %>
  </head>

  <body data-controller="scrim modal" data-modal-type-value="" data-action="hide-scrim@window->scrim#hide show-scrim@window->scrim#show">
    <%= modal_tag %>
    <%= yield %>
  </body>
</html>
