<h1>Hello world!</h1>

<ul>
  <li><%= button_to "Stream", modal_path, method: :patch %></li>
  <li><%= kpop_link_to "Frame", modal_path %></li>
  <li><%= link_to "Page", modal_path, data: { turbo: false } %></li>
  <li><%= link_to "Redirect", redirect_path %></li>
</ul>

<% if local_assigns[:kpop] %>
  <% content_for(:kpop) do %>
    <%= render template: kpop %>
  <% end %>
<% end %>
